<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>weatherIcon</key>
		<string>100</string>
		<key>weatherName</key>
		<string>晴</string>
	</dict>
	<dict>
		<key>weatherIcon</key>
		<string>101</string>
		<key>weatherName</key>
		<string>多云</string>
	</dict>
	<dict>
		<key>weatherIcon</key>
		<string>102</string>
		<key>weatherName</key>
		<string>晴间多云</string>
	</dict>
	<dict>
		<key>weatherIcon</key>
		<string>103</string>
		<key>weatherName</key>
		<string>阴</string>
	</dict>
	<dict>
		<key>weatherIcon</key>
		<string>104</string>
		<key>weatherName</key>
		<string>小雨</string>
	</dict>
	<dict>
		<key>weatherIcon</key>
		<string>105</string>
		<key>weatherName</key>
		<string>中雨</string>
	</dict>
	<dict>
		<key>weatherIcon</key>
		<string>106</string>
		<key>weatherName</key>
		<string>大雨</string>
	</dict>
	<dict>
		<key>weatherIcon</key>
		<string>107</string>
		<key>weatherName</key>
		<string>暴雨</string>
	</dict>
	<dict>
		<key>weatherIcon</key>
		<string>108</string>
		<key>weatherName</key>
		<string>阵雨</string>
	</dict>
	<dict>
		<key>weatherIcon</key>
		<string>109</string>
		<key>weatherName</key>
		<string>雷阵雨</string>
	</dict>
	<dict>
		<key>weatherIcon</key>
		<string>110</string>
		<key>weatherName</key>
		<string>强雷阵雨</string>
	</dict>
	<dict>
		<key>weatherIcon</key>
		<string>111</string>
		<key>weatherName</key>
		<string>冰雹</string>
	</dict>
	<dict>
		<key>weatherIcon</key>
		<string>112</string>
		<key>weatherName</key>
		<string>冻雨</string>
	</dict>
	<dict>
		<key>weatherIcon</key>
		<string>113</string>
		<key>weatherName</key>
		<string>小雪</string>
	</dict>
	<dict>
		<key>weatherIcon</key>
		<string>114</string>
		<key>weatherName</key>
		<string>中雪</string>
	</dict>
	<dict>
		<key>weatherIcon</key>
		<string>115</string>
		<key>weatherName</key>
		<string>大雪</string>
	</dict>
	<dict>
		<key>weatherIcon</key>
		<string>116</string>
		<key>weatherName</key>
		<string>暴雪</string>
	</dict>
	<dict>
		<key>weatherIcon</key>
		<string>117</string>
		<key>weatherName</key>
		<string>雨夹雪</string>
	</dict>
	<dict>
		<key>weatherIcon</key>
		<string>118</string>
		<key>weatherName</key>
		<string>阵雪</string>
	</dict>
	<dict>
		<key>weatherIcon</key>
		<string>119</string>
		<key>weatherName</key>
		<string>阵雨夹雪</string>
	</dict>
	<dict>
		<key>weatherIcon</key>
		<string>120</string>
		<key>weatherName</key>
		<string>大风</string>
	</dict>
	<dict>
		<key>weatherIcon</key>
		<string>121</string>
		<key>weatherName</key>
		<string>雾</string>
	</dict>
	<dict>
		<key>weatherIcon</key>
		<string>122</string>
		<key>weatherName</key>
		<string>霾</string>
	</dict>
	<dict>
		<key>weatherIcon</key>
		<string>123</string>
		<key>weatherName</key>
		<string>沙尘暴</string>
	</dict>
</array>
</plist>
